<ion-header>
    <ion-toolbar color="primary"> 
      <ion-buttons slot="start"> <!-- Ajout d'un bouton de retour -->
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <ion-icon name="log-in-outline" slot="start" style="margin-right: 10px;"></ion-icon> <!-- Ajout d'une icône -->
        Connexion
      </ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" routerLink="/signup"> <!-- Bouton à droite pour la création de compte -->
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          S'inscrire
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
  
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="lock-closed-outline" size="large"></ion-icon>
          Se connecter
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- Champ d'email avec une icône -->
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" type="email" required></ion-input>
        </ion-item>

        <!-- Champ de mot de passe avec icône et bouton pour afficher/masquer -->
        <ion-item>
          <ion-icon name="key-outline" slot="start"></ion-icon>
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input [(ngModel)]="password" [type]="passwordType" required></ion-input>
          <ion-icon
            name="{{ passwordIcon }}"
            slot="end"
            (click)="togglePasswordVisibility()"
          ></ion-icon>
        </ion-item>

        <!-- Bouton mot de passe oublié -->
        <ion-button fill="clear" size="small" routerLink="/resetpassword">
          <ion-icon name="help-circle-outline" slot="start"></ion-icon>
          Mot de passe oublié ?
        </ion-button>

        <!-- Bouton Connexion -->
        <ion-button expand="block" (click)="login()">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          Connexion
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- Footer ajouté -->
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title size="small" class="footer-text">© 2024 CarWashApp - Tous droits réservés</ion-title>
  </ion-toolbar>
</ion-footer>
