ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Toute la hauteur de l'écran */
    width: 100vw; /* Toute la largeur de l'écran */
    --background: linear-gradient(to right, #3498db, #2ecc71); /* Arrière-plan dégradé */
    padding: 0; /* Supprimer les marges internes pour le contenu */
  }
  
  .reset-password-container {
    width: 100%;
    max-width: 400px; /* Limite la largeur maximale de la carte */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre douce pour un effet de carte */
    text-align: center;
    display: flex;
    flex-direction: column; /* S'assure que le contenu de la carte est bien structuré verticalement */
    justify-content: center; /* Centre le contenu verticalement */
    height: auto; /* Ajuste la hauteur automatiquement */
  }
  
  ion-card {
    width: 100%; /* La carte occupe toute la largeur disponible */
  }
  