<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Stations de Lavage</ion-title>
    
    <!-- Bouton Logout avec icône de déconnexion -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let station of stations">
      <ion-icon *ngIf="!station.image" name="camera-outline" slot="start" (click)="addImage(station)"></ion-icon>
      <ion-thumbnail *ngIf="station.image" slot="start">
        <img [src]="station.image" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ station.name }}</h2>
        <p><ion-icon name="location-outline"></ion-icon> {{ station.address }}</p>
      </ion-label>

      <!-- Flèche pour plus de détails -->
      <ion-icon name="chevron-forward-outline" slot="end" (click)="viewStationDetails(station)"></ion-icon> 
    </ion-item>
  </ion-list>
</ion-content>
