ion-item {
  --inner-padding-top: 15px;
  --inner-padding-bottom: 15px;
}

ion-icon {
  font-size: 24px;
  color: #4CAF50; /* Couleur personnalisée pour l'icône d'ajout d'image */
}
/* Effet hover sur chaque item */
ion-item:hover {
  background-color: #f0f0f0; /* Change la couleur de fond au survol */
  cursor: pointer;
}

ion-item:hover h2 {
  color: #007bff; /* Change la couleur du texte au survol */
}

ion-item:hover p {
  color: #555; /* Change légèrement la couleur de l'adresse au survol */
}